argon2-cffi
argon2-cffi-bindings
blinker
certifi
cffi
charset-normalizer
click
Flask
Flask-JWT-Extended
Flask-Login
idna
itsdangerous
Jinja2
MarkupSafe
passlib
pycparser
PyJWT
python-dotenv
requests
urllib3
Werkzeug