<!doctype html>
<html>
    <head>
        <title>Error 418 | Timetable Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/error.css') }}">
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </head>
    <body>
        <header>
            <h1>Timetable Database</h1>
        </header>
        <div class="container">
            <div class="wrapper">
                <h2>Lecture Not Found</h2>
                <button onclick="home()">Return</button>
            </div>
        </div>
        <footer>
            <div class="wrapper">
                <p>&copy; Copyright 2025 Seb J</p>
            </div>
        </footer>
    </body>
</html>